$def with ( form )
$var title = "Profile"

<div class="hero-unit-modified">
        <h1>User profile</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

        <form method="GET">
    		$:form.render()
		</form>
        <p><a href="/project" class="btn btn-primary btn-large">Projects &raquo;</a></p>
      </div>
