<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/img/book_2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Enjopy authoring and reading online books</h1>
              <p class="lead">Creating books from online material should be as easy as a click of a button. We at Amoeba Information Systems Inc. are committed to make that click happen!</p>
              <a class="btn btn-large btn-primary" href="#">Sign up for trial</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/img/e-book_1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Browse publications</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    <div class="row">
        <div class="span6">
          <h2>Create books</h2>
          <p>The future of content is in the collaboration between authors and readers. In the past, content was static. Today, readers expect more. They want to participate in the creation of your content. Our platform allows you to take advantage of this major shift – whether you are a content publisher, solution partner, or reader. We offer a platform for the rapid creation of collaborative mobile and web applications. Our initial product line is focused on a service for the creation of a new type of ebook that allows readers and authors to interact </p>
          <p><a class="btn" href="#">Sign up &raquo;</a></p>
        </div>
        <div class="span6">
          <h2>Test Log In</h2>
          <div id="status">
			$code
			  if context.is_logged():
			    logged_status = "You are currently logged in as %s."%context.username
			  else:
			    logged_status = "You are not logged in."
			$logged_status
			</div>
			<div id="menu">
			<a href='/'>Index</a> | 
			<a href='/user/create'>Create User</a> | 
			<a href='/user/delete'>Delete User</a> | 
			<a href='/user/login'>Login</a> | 
			<a href='/user/logout'>Logout</a> |
			<a href='/admin'>Admin</a>
			</div>

          <!-- p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p -->
       </div>
        <!-- div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div -->
      </div>

